/* You can add global styles to this file, and also import other style files */
@use "ngx-toastr/toastr" as toastr;
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  min-height: 100%;
}

body,
button,
input,
select,
textarea {
  font-family: "Roboto", sans-serif;
}

body {
  color: #0f172a;
  background: #f8fafc;
}

.toast-success {
  background-color: #28a745 !important;
}

.toast-error {
  background-color: #dc3545 !important;
}

.toast-info {
  background-color: #17a2b8 !important;
}

.toast-warning {
  background-color: #ffc107 !important;
}
